.toolName {
  padding: var(--space-2) var(--space-1);
  text-align: center;
  font-size: 0.95rem;
}

.toolIcon {
  max-width: 88px;
  height: 50px;
  margin-top: var(--space-3);
  object-fit: contain;
}
