/* ----- Cards ----- */
article {
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-direction: row; 
}

.portfolioImage {
    width: 400px;
    height: 225px;
}

.moduleTitle,
.clientName,
.moduleText {
    padding: 0 20px;
}

.moduleTitle {
    text-align: left;
    min-height: 65px;
}

.clientName {
    margin: 20px 0 -10px 0;
    color: #738a94;
    font-size: 0.75em;
    text-transform: uppercase ;
}

.moduleText {
    min-height: 135px
}

.portfolioToolContainer {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.portfolioTool {
    max-width: 62px;
    height: 35px;
    padding: 0px 10px;
}