/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  line-height: 1.5;

}

body {
  background-color: #F6F6F7;
  max-width: 1300px;
  margin: 0 auto;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.spacer {
  margin: 25px;
}

.row,
.column {
  display: flex;
  justify-content: space-evenly;
}

.row {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0px; 
}

.column {
  align-items: center;
  flex-direction: column;
}

.row div {
  margin: 10px 5px;  
}

/* ----- TYPOGRAPHY ----- */
h1,
h2,
h3 {
  margin: 15px 0;
  text-align: center;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
  color: #1e836c;
}

h3 {
  font-size: 1.2em;
}

.textCenter {
  text-align: center;
  padding: 0 20px;
}

span {
  color: #fff;
}

/* ----- LINKS ----- */
a:link,
a:visited {
  text-decoration: none;
}

/* ----- BUTTONS ----- */
.btn-green {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 1em 3em;
  max-width: 250px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #1E836C;
}

.btn-green:hover, .btn-green:focus {
  background-color: #0E341B;
  color: #fff;
  transition: all .4s ease;
}

/* ----------------------------------------------- */
/* CARDS */
/* ----------------------------------------------- */

.servicesItem,
.toolItem,
.portfolioItem {
    display: flex;
    justify-content: center;
    flex-direction: column;   
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
}

.servicesItem {
  align-items: center;
  width: 250px;
}

.toolItem {
  align-items: center;
  width: 200px;
}

.portfolioItem {
  max-width: 400px;
  margin: 10px 5px;
  transition: all .5s ease;
}

.portfolioItem:hover {
  box-shadow: 0px 0px 5px rgba(39,44,49,.07),1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
  transform: translate3D(0,-1px,0) scale(1.02);
}

@media screen and (max-width: 419px) {
  .toolItem {
    width: 250px;
  }
}

@media screen and (max-width: 1229px) {
  .row,
  .column {
    justify-content: center;
  }
}



