.headerSection {
    background-color: #1e836c;
    max-width: 100%;
    justify-content: center;
    min-height: 35vh;
}

.avatarImage {
    width: 130px;
    height: 130px;
    padding-top: 20%;
}

.headerTitle,
.headerParagraph {
    color: #fff
}

.headerParagraph {
    padding-bottom: 10%;
}