footer {
   background-color: #1e836c;
   margin-top: 50px;
   padding: 25px 0;
   border-radius: 10px 10px 0 0;
}

.social-container {
    margin-bottom: 10px;
}

.social,
.madeWith {
    color: #fff;
}

.madeWith {
    font-size: 0.75em;
}

.heart {
    color: #FE4B35;
}

@media screen and (max-width: 1300px) {
    footer {
      border-radius: 0px;
    }
  }